
.mainSlide, .mainSlide ion-slide {
    width: 100%;
    height: 100%;
}

img {
    width: 200px;
}


ion-icon {
    font-size: 30px; //Preferred size here
}

ion-button {
    margin: .5em;
    margin-left: 1em;
  }